@import 'lib/styles/input.style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply transition text-white font-bold rounded-xl text-sm px-5 py-4 text-center;
	}

	.button-orange {
		@apply bg-orange hover:bg-melon-800 focus:outline-none focus:ring-4 focus:ring-melon-300;
	}
	.button-blue {
		@apply bg-sky-500 hover:bg-sky-800 focus:outline-none focus:ring-4 focus:ring-sky-300;
	}

	.button-pink {
		@apply bg-pink hover:bg-pink-dark focus:outline-none focus:ring-4 focus:ring-melon-300;
	}

	.button:disabled {
		@apply bg-stone-500 focus:outline-none focus:ring-4 focus:ring-stone-300;
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.hide-scroll::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.hide-scroll {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	@keyframes slideUp {
		0% {
			transform: translateY(100%);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.slide-up {
		animation: 1s ease-out 0s 1 slideUp;
	}

	.fade-in {
		animation: 1s ease-out 0s 1 fadeIn;
	}

	.slide-up-fade-in {
		animation:
			fadeIn 1s,
			slideUp 1s;
	}

	.h-screen-no-menu {
		height: calc(100vh - 4rem);
	}
	.avatar {
		@apply aspect-square p-0.5 rounded-full ring-1 ring-gray-300 object-cover;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: calc(100% + env(safe-area-inset-top));
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
		env(safe-area-inset-left);
	@apply bg-dark font-main;
}

body {
	-webkit-animation-delay: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
	from {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}

.firebase-emulator-warning {
	display: none;
}
